<div class="home_law" ng-controller="LawController as vm" >
    <!--<div class="search_input">-->
    <!--<form enctype="multipart/form-data" action="ashx/login.ashx" method="post">-->
    <!--<input  type="text" id="search_field" name="search" />-->
    <!--<input type="submit" id="search_button" value=""/>-->
    <!--</form>-->
    <!--</div>-->
    <div  class="home_law_container" ng-show="vm.lawList">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in vm.displayData">
                <span style="margin-left:15px;"><a  href="#" ng-click="vm.showArticle(item.path)">{{item.name}}</a></span>
                <span style="float:right;">{{item.date}}</span>
            </li>
        </ul>
        <nav>
            <ul class="pagination">
                <!--<li><a href="#" ng-click="vm.displayLaw(-1)" >&laquo;</a></li>-->
                <li ng-repeat="num in vm.page">
                    <a href="#" ng-click="vm.displayLaw(num)" >{{num}}</a>
                </li>
                <!--<li><a href="#" ng-click="vm.displayLaw(0)">&raquo;</a></li>-->
            </ul>
        </nav>
    </div>

    <div class="home_article_container"  ng-show="!vm.lawList">
        <span class="print_span" >
            <label style="display:block;margin-top:5px;float:left;">法律策划操作全攻略</label>
            <button class="print_btn" ng-click="vm.printLaw()"></button>
        </span>
        <div class="article_content">
            <!--<textarea name="testEdit.bz">sdsdsdsd</textarea>-->
            <!--<script type="text/javascript">CKEDITOR.replace('testEdit.bz');</script>-->
            <div id="article" ng-include="vm.currentArticle"></div>
            <!--<textarea ckeditor="editorOptions" ng-model="modelName" ng-include="vm.currentArticle">-->
            <!--</textarea>-->
        </div>
    </div>

</div>