<div class="front_home">
    <div class="front_menu">
        <ul>
            <li><a href="#home" ng-click="vm.type = 'lawRules'">首页</a></li>
            <li><a href="#home" ng-click="vm.type = 'userCenter'">个人中心</a></li>
            <li><a href="#home">收藏夹</a></li>
            <li><a href="#home" ng-click="vm.type = 'aboutUs'">关于我们</a></li>
        </ul>
        <ul class="menu_userinfo">
            <li><a href="" ng-click="vm.logout()">注销</a></li>
            <li a href="">{{vm.username}}</li>
        </ul>
    </div>



    <div ng-if="vm.type == 'lawRules'" ng-include="'home/law/law.html'" ng-controller="LawController"></div>
    <div ng-if="vm.type == 'userCenter'" ng-include="'home/user/user.html'" ng-controller="UserController"></div>
    <div ng-if="vm.type == 'aboutUs'" ng-include="'home/us/us.html'" ng-controller="UsController"></div>

    <div class="index_footer">
        <p>浏 览 本 网 站 推 荐 您 使 用 IE8 以 上 版 本 浏 览 器</p>
        <p class="copy_right">copy right @2016- XXX ALL RIGHT RESERVED</p>
    </div>
</div>